<h1>Welcome to our Mean-to-the-bone CMS Page</h1>

<div class="cms-container">
    <div class="header">
      <h2>Headers</h2>
      <ul>
        <li *ngFor="let header of headers">{{ header.title }}</li>
      </ul>
    </div>
    <div class="page">
      <h2>Pages</h2>
      <ul>
        <li *ngFor="let page of pages">{{ page.title }}</li>
      </ul>
    </div>
    <div class="footer">
      <h2>Footers</h2>
      <ul>
        <li *ngFor="let footer of footers">{{ footer.title }}</li>
      </ul>
    </div>
</div>

<div class="users">
  <ul>
    <li *ngFor="let user of users">{{ user.name }}</li>
  </ul>  
</div>

